{% for business in businesses %}
<a href='#' class='list-group-item'>
	<div class='row'>
		<div class='col-xs-6 col-md-8'>
			<h4 class='list-group-item-heading'>{{ business.name }}
			</h4>
			<p class='list-group-item-text'>{{ business.address }}</p>
		</div>
		<div class='col-xs-12 col-sm-6 col-md-4'>
			<img class='img-responsive' src='/static/img/bg_default_shop_rounded.png' alt='Chania'>
		</div>
	</div>
</a>
{% endfor %}
<script type="text/javascript">
var results  = {{ businesses_dump|safe }};

var center_lat = parseFloat('-7.023711713');
var center_lng = parseFloat('109.599939641');
console.log(center_lat + "  ...  " + center_lng);
var mapOptions = {
    center: new google.maps.LatLng(center_lat, center_lng),
    zoom: 15,
    scrollwheel: false,
    draggable: false,
    panControl: true,
    zoomControl: true,
    mapTypeControl: true,
    scaleControl: true,
    streetViewControl: true,
    overviewMapControl: true,
    rotateControl: true,
};
var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

for (var i = 0; i <= results.length - 1; i++) {
    var lat = parseFloat(results[i].lat);
    var lng = parseFloat(results[i].lng);
    console.log(lat + "  ...  " + lng);
    var myLatlng = new google.maps.LatLng(lat,lng);
    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: 'Hello World!'
    });
};
$('.list-group').on('click', '.list-group-item', function (event) {
    var index = $(this).index();
    $("#business_list a").removeClass("active");
    $(this).addClass("active");
    var textToAppend2 = "<span>" + results[index].name + "</span><p><span>" + results[index].address + "</span><p><span>" + results[index].city + "</span>";
    console.log(textToAppend2);
    $('#detail').html(textToAppend2);

    var lat = parseFloat(results[index].lat);
    var lng = parseFloat(results[index].lng);
    var center = new google.maps.LatLng(lat, lng);
    // using global variable:
    map.panTo(center);
});
</script>