<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>{% block title %} {% endblock %}</title>

    {% block styles %}
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/starter-template.css" rel="stylesheet">
    <link href="/static/css/theme.min.css" rel="stylesheet">
    <link href="/static/css/variables.less" rel="stylesheet">
    <style type="text/css">
    #map-canvas {
        width: 100%;
        height: 300px;
        margin-bottom: 15px;
        border: 2px solid #fff;
    }

    .nopadding {
        padding: 7px !important;
        margin: 0 !important;
    }

    #business_list {
        height: 600px;
        overflow-y:scroll; 
    }

    #search_bar {
        background-color: #AD1D28;
    }
</style>
{% endblock %}
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Kataloku</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav" id="navbar-nav">
      <li class="active"><a href="#">Look Around</a></li>
      <li><a href="#" id="offering_link">Deals and Offers</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Message</a></li>
          <li><a href="#">Settings</a></li>
          <li class="divider"></li>
          <li><a href="#">Bookmarked</a></li>
      </ul>
  </li>
</ul>
</div><!-- /.navbar-collapse -->
</div>
</nav>
<div class="container">
    {% block container %}

    {% endblock %}
</div><!-- /.container -->


{% block javascripts %}
{% endblock %}
</body>
</html>
