{% extends "base.html" %}
{% block title %} Kataloku | Sell Stuffs Nearby {% endblock %}
{% block project_name %} Kataloku {% endblock %}
{% block container %}
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 nopadding">
    <div class="row" id="search_bar">
      <form class="navbar-form navbar-left" id="search_form" role="search">
        <div class="form-group">
          <input type="text" class="form-control" id="search_input" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
  </form>
</div>
<div class="row">
  <div id="business_list" class="list-group">
    <a href='#' class='list-group-item'>
      <div class='row'>
        <div class='col-xs-6 col-md-8'>
          <h4 class='list-group-item-heading'>Loading
          </h4>
          <p class='list-group-item-text'>...</p>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-4'>
      </div>
  </div>
</a>
</div>
</div>
</div>
<div class="col-xs-6 col-md-8 nopadding">
 <div id="map-canvas">
 </div>
 <div class="col-xs-6 col-md-8" id="detail">
    <span>Loading... </span>
</div>
</div>
</div>
{% endblock %}

{% block javascripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLKh-FFCIPkez6iEYmMxRhTuFfeVzarwo&amp;sensor=true"></script>
<script type="text/javascript">
</script>
<script type="text/javascript">
var business = new Array();
var urlString = "{{ url_for('nearby_list', userkey='000000000', distance='20', lat='-7.023714723', lng='109.599939241', page='1') }}";
$.ajax({
    url: urlString,
    context: document.body
}).done(function(data) {
    $('#business_list').empty();
    business = data;
    $('#business_list').append(business);
    var index = 0;
    $("#business_list a").removeClass("active");
    $(this).addClass("active");
    var textToAppend2 = "<span>" + business[index].name + "</span><p><span>" + business[index].address + "</span><p><span>" + business[index].city + "</span>"; 
    $('#detail').html(textToAppend2);
});

$('#search_form').submit(function(e) {
    keyword = $('#search_input').val();
    var searchUrlString = "{{ url_for('search_list', userkey='000000000', keyword='PLACEHOLDER', distance='20', lat='-7.023714723', lng='109.599939241', page='1') }}"; 
    searchUrlString = searchUrlString.replace('PLACEHOLDER', keyword);
    e.preventDefault();
    $.ajax({
        url: searchUrlString,
        context: document.body
    }).done(function(data) {
        $('#business_list').empty();
        business = data;

        $('#business_list').append(business);
        var index = 0;
        $("#business_list a").removeClass("active");
        $(this).addClass("active");
        var textToAppend2 = "<span>" + business[index].name + "</span><p><span>" + business[index].address + "</span><p><span>" + business[index].city + "</span>"; 
        console.log(textToAppend2);
        $('#detail').html(textToAppend2);
    });
    console.log('search');
});

$('#offering_link').click(function(e) {
    $("#navbar-nav").removeClass("active");
    $(this).parent().addClass("active");
    var offeringUrlString = "{{ url_for('offering_list', userkey='000000000', distance='200', lat='-7.023714723', lng='109.599939241', page='0') }}";
    console.log(offeringUrlString);
    e.preventDefault();
    $.ajax({
        url: offeringUrlString,
        context: document.body
    }).done(function(data) {
        $('#business_list').empty();
        business = data;

        $('#business_list').append(business);
        var index = 0;
        $("#business_list a").removeClass("active");
        $(this).addClass("active");
        var textToAppend2 = "<span>" + business[index].name + "</span><p><span>" + business[index].address + "</span><p><span>" + business[index].city + "</span>";
        console.log(textToAppend2);
        $('#detail').html(textToAppend2);
    });
    console.log('offering');
});

</script>

{% endblock %}